---
---
<div class='mt-5 mr-5 flex gap-2.5'>
  <a class="text-xl link--primary h-fit" href="https://deamaral.lojavirtualnuvem.com.br/" target="_blank" rel="noopener noreferrer" aria-label="loja">
    loja
  </a>
  <a class="text-xl link--primary h-fit" href="https://www.instagram.com/galeriadeamaral/" target="_blank" rel="noopener noreferrer" aria-label="instagram">
    instagram
  </a>
</div>