---
import siteData from "@config/siteData.json";
---

<a class="primary-focus flex flex-col gap-2.5 ml-5 mt-5" href="/" aria-label="Home" class="">
  <h1 class="font-heading-1 text-[20px] uppercase tracking-[10px]">Galeria</h1>
  <h2 class='font-decorative text-[42px]'>{siteData.name}</h2>
</a>
