---

const today = new Date();
---

<footer class="bg-white mt-12 mx-8 flex flex-col items-center justify-center py-8">
		<div class="flex gap-8">
			<div class='flex flex-col items-end'>
				<a href='mailto:galeriadeamaral@gmail.com' target="_blank" rel="noopener noreferrer" class='button--primary'><p class="description text-lg">galeriadeamaral@gmail.com</p></a>
				<p class="description text-lg">+55 21 97441-0324</p>
			</div>
			<div>
				<p class="description text-lg">dê amaral</p>
			</div>
		</div>

		<!-- copyright -->
		<div class="mt-4 mb-2 text-center text-sm opacity-80">
			&copy; {today.getFullYear()} a theme by <a
				href="https://cosmicthemes.com"
				class="hover:text-primary-600 transition"
				target="_blank"
				rel="noopener">Cosmic Themes</a
			>
			<!-- {siteData.name}. All rights reserved. -->
		</div>
	</div>
</footer>
